* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --pixel-count : 16;
    --container-size: 320px;
    --pen-color : hsl(0, 0%, 0%);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: var(--container-size);
    height: var(--container-size);
    -webkit-user-select: none;
    user-select: none;
    border: 10px solid rgb(0, 18, 0);
    box-sizing: content-box;
    border-radius: 5px;
}

.container > .pixel {
    width: calc(var(--container-size)/var(--pixel-count));
    height: calc(var(--container-size)/var(--pixel-count));
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.active {
    background-color: lightgreen;
}